body{
    background-color: #A020F0;
    font-family: OpenSans,Arial,sans-serif;
}
.Títulos{
     width: 800px;
     height: 5px;
     color: #1C1C1C;
}
.Link{
    width: 30px;
    color: white;

}
.Texto{
    width: 800px;
    color: white;
}
ol{
    color: white;
}
.Link:hover {
    color: black;
}
